main {
    margin: 0%;
}

body {
    background-color: aqua;
    width: 100%;
    height: 100%;
}

div {
    margin: 2rem;
    display: inline-block;

}

div.perfil1 {
    width: 20%;
    height: 30%;
    background-color: blueviolet;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.perfiles .img img {
    width: 20rem;
    height: 20rem;
    border-radius: 30rem;
}

.descripcion {
    margin: 1rem;
    padding: 0rem;
    background-color: blue;
    display: inline;
}

.boton {
    width: 5rem;
    margin: .5rem;
    background-color: chartreuse;
    border-radius: 5rem;
}

div.perfil2 {
    width: 20%;
    height: 30%;
    background-color: blueviolet;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}



div.perfil3 {
    width: 20%;
    height: 30%;
    background-color: blueviolet;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


div.perfil4 {
    width: 20%;
    height: 30%;
    background-color: blueviolet;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media(max-width:810px) {
    body {
        margin: auto;
    }

    div {
        margin: auto;
        display: inline-block;

    }

    div.perfil1 {
        width: 45%;
        height: 75%;
        margin: 1rem;
        background-color: lightgreen;
        float: left;
    }

    .perfiles .img img {
        width: 90%;
        height: 90%;
        margin: 1rem;
        border-radius: 15rem;
        display: flex;
    }

    .descripcion {
        margin: .5rem;
        padding: 0rem;
        background-color: coral;
    }

    .boton {
        width: 5rem;
        margin: .25rem;
        background-color: rebeccapurple;
        border-radius: 2.5rem;
    }

    div.perfil2 {
        width: 45%;
        height: 75%;
        margin: 1rem;
        background-color: lightgreen;
        float: left;
    }

    div.perfil3 {
        width: 45%;
        height: 75%;
        margin: 1rem;
        background-color: lightgreen;
        float: inline-end;
    }

    div.perfil4 {
        width: 45%;
        height: 75%;
        margin: 1rem;
        background-color: lightgreen;
        float: inline-end;
    }
}